<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<!-- <link rel='stylesheet' href='/stylesheets/screen.css' /> -->
		<script src="/javascripts/jquery-1.11.0.min.js"></script>
		<script src="/javascripts/socket.io.js"></script>
		<script src="/javascripts/socket.js"></script>
		<script>
		// 监听跳转消息，切换到对应页面
		socket.on('_server_push_/screen_redirect', function(err, data) {
			if (data) {
				console.log('auto redirect to: ', data.page);
				if (data.page != location.href) {
					location.href = data.page;
				}
			}
		});
		</script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
