模板变量替换：{{xxx}}
<script>
	// ajax test
	// ajax.get | ajax.post
	// ajax.post('admin/test/test', {a: 1}, function(err, data) {
	// 	console.log('ajax client received reply: ', data);
	// });

	// socket test: emit
	socket.emit('admin/test/websocket', {c: 3}, function(err, data) {
		console.log('socket client received reply: ', data);
	});

	// socket test: on
	socket.on('admin/test/websocket', function(err, data) {
		console.log('socket client received on: ', data);
	});

	// socket test: on cast
	socket.on('admin/test/broadcast', function(err, data) {
		console.log('socket client received cast: ', data);
	});
</script>