<style>
    .error {
        border-color: rgb(241, 27, 27);
    }
    
    .pop {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        opacity: 0;
        transition: all ease-in-out .3s;
    }
    
    .addUser {
        position: relative;
    }
</style>
<div class="addUser">
    <h3>员工信息录入</h3>
    <form>
        <div class="form-group">
            <label for="inputName">姓名：</label>
            <input type="text" class="form-control" id="userName" placeholder="员工姓名">
        </div>
        <div class="form-group">
            <label for="inputEmail">邮箱：</label>
            <input type="email" class="form-control" id="userEmail" placeholder="员工邮箱">
        </div>
        <div class="checkbox">
            <label>
					<input type="checkbox" id="isSendEmail" checked="checked">
					直接发送年会注册通知邮件
			</label>
        </div>
        <button type="button" class="addUser_btn btn btn-info" data-loading-text="正在提交...">提交</button>
    </form>
    <div class="alert alert-success pop" role="alert">
        <strong>提交成功!</strong>
    </div>
</div>
<script>
    (function() {
        var emailReg = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
        var $addBtn = $('.addUser_btn'),
            $userName = $('#userName'),
            $userEmail = $('#userEmail'),
            $isSendEmail = $('#isSendEmail');
        $pop = $('.pop');
        $addBtn.on('click', function(evt) {
            var userNam = $userName.val(),
                userEmail = $userEmail.val(),
                isSendEmail = $isSendEmail.prop('checked');

            var isInvalidEmail = emailReg.test(userEmail);
            if (userNam && isInvalidEmail) {
                $addBtn.button('loading');
                socket.emit('admin/user/onAdd', {
                    name: userNam,
                    email: userEmail,
                    isSendEmail: isSendEmail
                }, function(err, data) {
                    if (err) {
                        alert(err);
                        $addBtn.button('reset');
                    }else {
                        $pop.css({
                            opacity: 1
                        });
                        setTimeout(function() {
                            $pop.css({
                                opacity: 0
                            });
                        }, 2e3)
                        //重置表单
                        $userName.val('');
                        $userEmail.val('');
                        $isSendEmail.prop('checked', true);
                        $addBtn.button('reset');
                    }
                })
            }else {
                $userName.toggleClass('error', !userNam);
                $userEmail.toggleClass('error', !isInvalidEmail);
            }
        });
        //验证
        $('#userName').on('input', function(evt) {
            var $this = $(this);
            var val = $this.val();
            $this.toggleClass('error', !val);
        })

        $('#userEmail').on('input', function(evt) {
            var $this = $(this);
            var val = $this.val();
            var isMatch = emailReg.test(val);
            $this.toggleClass('error', !isMatch);
        })

    })()
</script>