<h3 class="page-title">嘉宾列表</h3>
<table class="userList table table-bordered table-hover">

</table>

<!-- 确认审核通过模态框 -->
<div class="modal fade" id="checkPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">审核通过</h4>
	  </div>
	  <div class="modal-body">
		<p class="guestHint">嘉宾资料符合，可以参加公司年会活动</p>
		<form>
		  <div class="form-group">
			<label for="guestName">嘉宾姓名</label>
			<input type="email" class="form-control" id="guestName" placeholder="嘉宾姓名">
		  </div>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		<button type="button" class="btn btn-success trial-confirm" data-dismiss="modal">确定</button>
	  </div>
	</div>
  </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">确认删除</h4>
	  </div>
	  <div class="modal-body">
		<p class="guestHint">确定删除该用户吗？</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default delete-cancel" data-dismiss="modal">关闭</button>
		<button type="button" class="btn btn-success delete-confirm" data-dismiss="modal">确定</button>
	  </div>
	</div>
  </div>
</div>
<script type="text/javascript">
// 表格前端载入渲染 sign_table_reload
// 有嘉宾签到，收到推送消息，messager弹出，表格刷新
// 操作后的更新问题
// 操作完成后用jquery自定义事件触发


	// messager处理
	


	// 确认审核通过
	(function($) {
		var deleteId = null;


		$('body').on('_guest_sign_delete_', function(event) {
			getData();
		});


		$('body').on('_guest_sign_verified_', function(event) {
			getData();
		});



		$('.userList').on('click', '.guest-delete', function(){
			deleteId = $(this).val();
		});

		$('.userList').on('click', '.guest-trial', function(){
			deleteId = $(this).val();
		});

		$('.delete-confirm').on('click', function(){
			socket.emit('admin/guest/delete', {openid: deleteId}, function(err, data){
				if (err) {
					alert('删除失败, 错误消息:' + err);
				} else {
					$('body').trigger('_guest_sign_delete_', [data.openid]);
				}
			});
		});

		$('.trial-confirm').on('click', function(){
			var name = $('#guestName').val();
			if(!name){
				alert('请填写姓名！');
				return false;
			}else{
				socket.emit('admin/guest/trial', {name: name, openid: deleteId}, function(err, data) {
					if (err) {
						alert('审核失败, 错误消息:' + err);
					} else {
						$('body').trigger('_guest_sign_verified_', [data.openid]);
					}
				});
			}
			
		});

		// 表格动态构建
		function sign_table_reload(data) {
			var i = 1;
			var dom = $('.userList');
			dom.empty();
			$([
				'<tr>',
					'<th>序号</th>',
					'<th>姓名</th>',
					'<th>微信头像</th>',
					'<th>微信昵称</th>',
					'<th>签到时间</th>',
					'<th>审核</th>',
					'<th>删除</th>',
				'</tr>'
			].join('')).appendTo(dom);
			for(let item of data){
				var tr = $([
					'<tr>',
						'<td>'+(i++)+'</td>',
						'<td>'+(item.name? item.name:'-')+'</td>',
						'<td><img class="icon_img" src="'+item.avatar+'" alt="'+item.name+'"></td>',
						'<td>'+item.wx_nickname+'</td>',
						'<td>'+item.sign_time_format+'</td>',
					'</tr>'
				].join('')).appendTo(dom);
				if(item.verified){
					tr.append('<td>审核已通过</td><td>-</td>');
				}else{
					tr.append([
						'<td><button value="'+item.openid+'" class="btn btn-success btn_check guest-trial" data-toggle="modal" data-target="#checkPass">审核</button></td>',
						'<td><button value="'+item.openid+'" data-toggle="modal" data-target="#delete" class="btn btn-default guest-delete">删除</button></td>'
					].join(''));
				}
			}
		}

		// 初始化表格
		getData();

		function getData() {
			socket.emit('admin/guest/getData', null, function(err, data) {
				if(err){
					alert(err);
				}else{
					sign_table_reload(data.items);
				}
			})
		}


		// 监听添加员工
		socket.on('_server_push_/guest_sign_in', function(err, data) {
			if(err){
				alert(err);
			}else{
				getData();
			}
		})
	})(window.jQuery);
</script>
