<!-- 红包倒计时 -->
<style>
	body{font-family: "Microsoft YaHei";background: url('/images/screenBg.png');}
	p{margin:0;padding: 0}
	.packet-countdown {text-align: center;color:white;margin-top: 5%}
	.packet-countdown .shakeMobile img{position: relative; transform: translateX(-40%);-webkit-transform: translateX(-40%)}
	.packet-countdown .distance{margin-top: -20px}
	.packet-countdown .distance span{display: inline-block;font-size: 64px}
	.packet-countdown .distance img{position: relative;top: 40px;margin:0 50px;}
	.packet-countdown .countdown{margin:30px 0px 0px -150px;font-size: 120px;font-weight: bold;}
</style>
<div class="packet-countdown">
	<div class="shakeMobile"><img src="/images/shakeMoney.png" alt=""></div>
	<div class="distance">
		<span>距</span>
		<img src="/images/getRedMoney.png" alt="">
		<span>开始还有</span>
	</div>
	<div class="countdown" id="deadline"></div>
</div>
<script>
(function() {
	var addTimer = function() {
		var list = [],
			interval;
		
		function go() {
		    for (var i = 0; i < list.length; i++) {
				list[i].ele.innerHTML = renderCountdown(list[i].time);
				if (!list[i].time)
				    list.splice(i--, 1);
		    }
		}

		//传入剩余时间
		function renderCountdown(timeStamp) {
			var misTime = Math.max(0, Math.round((timeStamp - Date.now()) / 1000));
			var sec = Math.floor(misTime % 60);
			var min = Math.floor(misTime / 60 % 60);
			
			if (sec < 10) {
			    sec = "0" + sec;
			}
			if (min < 10) {
			    min = "0" + min;
			}
			
			if (misTime === 0) {
				setTimeout(function() {
					window.location.href = '/packet/remain';
				}, 0);
			}

			return min + ":" + sec;
		}

		return function(id, timeStamp) {
			if (!interval) {
				interval = setInterval(go, 100);
			}
			list.push({ ele: document.getElementById(id), time: timeStamp });
		}
	}();

	var get_time = Date.now();
	socket.emit('screen/packet/countdown', null, function(err, data) {
		// 倒计时延迟时差取请求时间的一半
		var lag = Math.round((Date.now() - get_time) / 2);
		addTimer("deadline", Date.now() + data.countdown - lag);
	});

})();
</script>