<style>
	.form-input-number {
		width: 120px;
		display: inline-block;
		margin-right: 5px;
	}
    .form-input-time {
        width: 80px;
        display: inline-block;
    }
    .form-input-time-text {
        margin: 0 5px;
    }
    .form-input-number-mini {
        width: 60px;
        display: inline-block;
        margin: 0 5px;
    }
</style>
<div class="packetSetup page-form">
    <h3 class="page-title">红包数额配置</h3>
    <form id="setup_form">
        <div class="form-group">
            <label for="exampleInputEmail1">红包总额：</label>
            <div>
	            <input type="number" class="form-control form-input-number" id="amount" required min="0" value="{{amount}}">元
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPhone1">每人最低金额：</label>
            <div>
	            <input type="number" class="form-control form-input-number" id="basic" required min="0" value="{{basic}}">元
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">随机真红包数量：</label>
            <div>
	            <input type="number" class="form-control form-input-number" id="total" required min="0" value="{{total}}">个
            </div>
        </div>
        <div class="form-group">
            <label>手气最佳额外金额：</label>
            <div class="goodLuck">
	            <input type="number" class="form-control form-input-number" id='top1' placeholder="第一名金额" required min="0" value="{{top1}}">元
            </div>
            <div class="goodLuck">
	            <input type="number" class="form-control form-input-number" id='top2' placeholder="第二名金额" required min="0" value="{{top2}}">元
            </div>
            <div class="goodLuck">
	            <input type="number" class="form-control form-input-number" id='top3' placeholder="第三名金额" required min="0" value="{{top3}}">元
            </div>
        </div>
        <div class="form-group">
            <label>频率控制：</label>
            <div>
                每个红包耗时<input type="text" name="hold_time" id="hold_time" class="form-control form-input-number-mini" min="2" max="20" value="{{hold_time}}">秒, 每<input type="text" name="ratio" id="ratio" class="form-control form-input-number-mini" min="2" max="50" value="{{ratio}}">个红包有一个真红包
            </div>
        </div>
        <div class="form-group">
            <label>倒计时时长：</label>
            <div>
                <input type="number" class="form-control form-input-number" id='countdown' placeholder="倒计时时长" required min="0" value="{{countdown}}">秒
            </div>
        </div>
        <div class="form-group">
            <label>持续时间：</label>
            <div>
            	<input type="number" class="form-control form-input-number" id="duration" required min="1" value="{{duration}}"><span style="color: #103fca">分钟</span>
            </div>
        </div>
        <button type="submit" class="page-form_btn btn btn-info" id='setup_save'>保存</button>
    </form>
    <!-- 确认审核通过模态框 -->
    <div class="modal fade" id="checkPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">开始活动</h4>
                </div>
                <div class="modal-body">
                    <p class="reckon_message"></p>
                    <p class="guestHint">你将开启抢红包活动，页面会跳转至红包倒数页面</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="startPacket" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
(function() {
    $('#startPacket').on('click', function() {
        var top1 = $('#top1').val();
        var top2 = $('#top2').val();
        var top3 = $('#top3').val();
        var basic = $('#basic').val();
        var amount = $('#amount').val();
        var ratio = $('#ratio').val();
        var hold_time = $('#hold_time').val();
        var total = $('#total').val();
        var countdown = $('#countdown').val();
        var duration = $('#duration').val();


        socket.emit('admin/packet/setup_save', {
	        top1: top1,
	        top2: top2,
	        top3: top3,
	        basic: basic,
	        amount: amount,
            ratio: ratio,
            hold_time: hold_time,
	        total: total,
            countdown: countdown,
	        duration: duration
        }, function(err, data) {
            if (err) {
                return alert(err);
            }
            alert("配置成功!");
        });
    });

    //  时间预估
    // 预计200人
    var reckon_number = 200;
    function reckon_time() {
        var ratio = $('#ratio').val();
        var hold_time = $('#hold_time').val();
        var total = $('#total').val();

        return Math.round((reckon_number * hold_time + (total - reckon_number) * ratio * hold_time) / reckon_number);
    }

	$('#setup_form').on('submit', function(evt) {
		evt.preventDefault();
        var time = reckon_time();
        var min = Math.floor(time / 60);
        var sec = time % 60;

        $('.reckon_message').text("假设" + reckon_number + "个人一起全力抢红包，活动可持续" + min + "分" + sec + "秒");
		$('#checkPass').modal('show');
	});

})();
</script>
