<div class="alert alert-warning" role="alert">
	<strong>注意：</strong> 请等待大屏抽奖页面加载完成后再操作，否则大屏看不到抽奖动画和抽奖结果
</div>
<div class="draw-main">
	<p class="draw-banner"></p>
	<p class="draw-title">— 抽奖控制台 —</p>
	<div class="draw-button">
	</div>
</div>
	
<script type="text/javascript">
	(function() {
		var button = $('.draw-button');
		var lock = false;
		var running = ('{{running}}'=='true') || false;

		function disable_button() {
			button.css('background-image', "url('/images/extractedbutton.png')");
		}
		function enable_button() {
			button.css('background-image', "");
		}

		if (running) {
		    lock = true;
			disable_button();
		}

		function init(){
			if (!running) {
				button.on('click', function(){
					if (lock === true) {
						return false;
					}
					lock = true;
					button.addClass('click_animation');
				});
			}
			
			button.on('animationend',function() {
				button.removeClass('click_animation');
				socket.emit('admin/prize/draw_batch', {
					ticket: '{{ticket}}'
				}, function(err,data) {
					if(err){
						alert(err);
						lock = false;
					}else{
						disable_button();
					}
				});
			});

			socket.on('_server_push_/screen_prize_done', function(err, data){
					debugger;
				if (data && data.done) {
					lock = false;
					enable_button();
				}
			});
		}

		init();
	})();
</script>
