<div style="width: 500px;">
	<table class="userList table table-bordered table-hover">
		<tr>
			<th>名称</th>
			<th width="150">阶段</th>
			<th width="150">已抽取人数</th>
			<th>操作</th>
		</tr>
		{{#each rounds}}
			<tr>
				<td>{{name}}</td>
				<td>已抽取{{phase}}/{{phase_total}}次</td>
				<td>{{prized}}人</td>
				<td>
					{{#if end}}
						已抽完
					{{else}}
						<a href="/{{../_admin_page_}}/prize/quick_start?round={{round}}" class="btn btn-info" target="_blank" >开始</a>
					{{/if}}
				</td>
			<tr/>
		{{/each}}
	</table>
</div>
