<style>
.prize-count,
.prize-name {
    width: 200px;
    display: inline-block;
    margin-right: 5px;
}
</style>
<div class="page-form">
    <h3>第{{round}}轮抽奖配置</h3>
    <form method="post" action="./setup_save" id="prize_setup_form">
    	<div class="form-group">
            <label class="control-label">名称：</label>
            <div>
                <input type="text" class="form-control prize-name" required name="name">
                <span class="page-form-tip">(如二等奖)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">抽奖类型：</label>
            <div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="1" checked> 单个抽
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="2"> 批量抽
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">奖品数量：</label>
            <div>
                <input type="number" class="form-control prize-count" required min="1" step="1" name="count">份
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">单轮抽取数量：</label>
            <div>
                <input type="number" class="form-control prize-count" required min="1" step="1" max="60" name="limit">份
                <span class="page-form-tip">(单轮最多抽60个)</span>
            </div>
        </div>
        <input class="btn btn-info onSetup" type="submit" value="开始抽奖">
    </form>
</div>
<script>
(function() {
    var form = $('#prize_setup_form');
    form.on('submit', function(evt) {
        evt.preventDefault();

        var param = {};
        form.serializeArray().map(function(item) {
            param[item.name] = item.value;
            return item;
        });

        socket.emit('/admin/prize/setup_save', param, function(err, data) {
            if (err) {
                return alert(err);
            }

            location.href = '/{{_admin_page_}}/prize/' + ((data.type == 1) ? 'ctrl_single' : 'ctrl_batch') + ('?ticket=' + data.ticket);
        });
    });
})();
</script>
